/* 1 Element selectors */
header {
    background-color: darkgreen;
    color: white;
    text-align: right;
    position: fixed;
    width: 100%;
    opacity: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: .9;
}

header p {
    padding-right: 1rem;
    font-size: .8rem;
}

header p a {
    font-family: 'Lato', sans-serif;
    background-color: yellow;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

header p a:visited {
    color: rgb(63, 63, 63);    
}

p {
    font-size: .78rem;
    line-height: 1.2;
}

button {
    font-size: .8rem;
    background-color: yellow;
    color: rgb(63, 63, 63);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 100%;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

button a {
    color: yellow;
    color: rgb(63, 63, 63);
}

button a:visited {
    color: yellow;
    color: rgb(63, 63, 63);
}

/* 2 Class selectors */
/* 3 ID Selectors */
#main {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

#main p {
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
    text-indent: 1rem;
}

#img-div {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: .67rem;
    text-align: center;
    padding-bottom: .33rem;
}

#img-div img {
    width: auto;
    height: auto;
    max-height: 11rem;
}

#tribute-info {
    background-color: darkgreen;
    color: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
}

#tribute-info p a {
    color: yellow;
}

#tribute-info p a:visited {
    color: yellow;
}

 /* @media only screen and (min-width:600px) {
    header {
        text-align: center;
    }

    header p {
        padding-right: 0;
    }
} */

/*@media only screen and (min-width:768px) {

}
@media only screen and (min-width:992px) {

}
@media only screen and (min-width:1200px) {

} */
