/* 1 Element selectors */
body {
    background-color: black;
    color: white;
}
header {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: right;
    position: fixed;
    width: 100%;
    margin-top: -8px;
    opacity: 50%;
}
header p {
    padding-right: 10px;
}

img {
    max-width: 100%;
    display: block;
}
caption {
    display: block;
}

section {
    background-color: black;
    color: white;
    text-align: justify;
}
/* 2 Class selectors */
/* 3 ID Selectors */
#main {
    flex-wrap: wrap;
}
#freeCodeCamp-link {
    background-color: green;
    color: yellow;
    text-decoration: none;
}

#img-div {
    align-self: center;
}

/* 4 Media Queries */

/* TODO: 'You' header should descend and bounce up animated;
2.  */