/* 1 Element selectors */
body {
    background-color: darkgreen;
    color: rgb(215, 215, 215);
    font-family: 'SymbolaRegular', serif;
    font-weight: normal;
    font-style: normal;
    font-size: .8rem;
}

header {
    background-color: darkgreen;
    opacity: .8;
    padding-bottom: .33rem;
    padding-top: .33rem;    
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 1;
}

header p a {
    background-color: rgb(255, 255, 63);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    color: rgb(63, 63, 63);    
    font-family: 'Lato', sans-serif;
}

header p a:visited {
    color: rgb(63, 63, 63);    
}

h1 {
    position: absolute;
    font-size: 9rem;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%)
}
p {
    line-height: 1.2;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

button {
    font-size: .8rem;
    background-color: yellow;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 100%;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

button a {
    color: rgb(63, 63, 63);
}

button a:visited {
    color: rgb(63, 63, 63);
}

/* 3 ID Selectors */
#main {
    display: flex;
    flex-direction: column;
}

#main p {
    text-align: justify;
    text-indent: 1rem;
}

#img-div {
    align-self: center;
    font-size: .67rem;
    text-align: center;
}

#img-div img {
    width: 100%;
}

#tribute-info {
    background-color: darkgreen;
    color: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#tribute-info p a {
    color: rgb(255, 255, 63);
}

#tribute-info p a:visited {
    color: rgb(255, 255, 63);
}

 /* @media only screen and (min-width:600px) {
    header {
        text-align: center;
    }

    header p {
        padding-right: 0;
    }
} */

/*@media only screen and (min-width:768px) {

}
@media only screen and (min-width:992px) {

}
@media only screen and (min-width:1200px) {

} */
